section{
    height:500px;
    background-color:plum;
    border: solid white 1px;
}

.hero {
background-color:palevioletred;
height: 100vh;
color: white;
font-size: 40px;
}

footer {
    height: 500px;
    background-color: whitesmoke
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /*width: 200px; */
    text-decoration: none;
}

